---
import Layout from "@/layouts/Layout.astro";

// Components
import { Search } from "@/components/Search.jsx";
import NavBar from "@/components/NavBar.astro";
import ToolCard from "@/components/ToolCard.astro";

// Data
import data from "@/lib/toolbox.json";

const categories = Object.entries(data.resources);
const categoriesCount = categories.length;
---

<Layout title="Dev Toolbox" hideContent={false}>
  <NavBar />
  <h2
    class="bg-gradient-electric bg-clip-text text-transparent text-[1.8rem] flex justify-center gap-6 w-fit absolute -top-1 left-1/2 -translate-x-1/2 z-200 font-medium uppercase do-hyeon"
  >
    Dev Toolbox
  </h2>

  <h1
    class="text-center text-white font-bold text-[1.8rem] w-[40%] mx-auto mt-10 title-inner-shadow"
  >
    Explore the largest development toolbox with the best tools.
  </h1>

  <Search client:load />

  <article class="grid grid-cols-3 gap-4 p-8">
    <ToolCard toolData={[]} />
  </article>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

  .do-hyeon {
    font-family: "Do Hyeon";
  }

  .title-inner-shadow {
    background-color: white;
    color: transparent;
    text-shadow: 3px 0px 4px rgba(0, 0, 0, 0.622);
    -webkit-background-clip: text;
    background-clip: text;
  }
</style>


<!-- Other view -->
<!-- {categories.map(([categoryKey, categoryData]) => (
        <div class="border p-4 rounded">
          <h3 class="font-bold text-xl mb-2">{categoryKey}</h3>
          <p class="text-sm mb-4">{categoryData.description}</p>

          {"items" in categoryData ? (
            <ul>
              {categoryData.items.map((item) => (
                <li>
                  <a
                    href={item.url}
                    target="_blank"
                    class="text-blue-500 hover:underline"
                  >
                    {item.name}
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            "subcategories" in categoryData && (
              <div class="flex flex-col gap-4">
                {Object.entries(categoryData.subcategories).map(
                  ([subKey, subData]) => (
                    <div>
                      <h4 class="font-bold text-lg mb-1 capitalize text-gray-200">
                        {subKey.replace("_", " ")}
                      </h4>
                      <ul>
                        {subData.items.map((item) => (
                          <li>
                            <a
                              href={item.url}
                              target="_blank"
                              class="text-blue-500 hover:underline"
                            >
                              {item.name}
                            </a>
                          </li>
                        ))}
                      </ul>
                    </div>
                  )
                )}
              </div>
            )
          )}
        </div>
      ))} -->